/*body {margin:25px; font:12px Verdana, Arial, Helvetica}*/
* {padding:0; margin:0}
.dropdown {float:left; padding-right:0px}
.dropdown dt {width:120px; color:#FFFFFF; padding:8px; font-weight:bold; cursor:pointer; background:url(images/header.gif)}
.dropdown dt:hover { background-color:#4898DC; color:#FFFFFF;}
.dropdown dd {position:absolute; overflow:hidden; width:147px; display:none; background:#4898DC; z-index:200; opacity:0}
.dropdown ul {width:150px; border:1px solid #9ac1c9; list-style:none; border-top:none}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:3px; color:#333; text-decoration:none; background:#CCE2F7; width:150px}
.dropdown a:hover {background:#B4D3F3; color:#000}
.dropdown .underline {border-bottom:1px solid #b9d6dc}
a.home {float:left; padding:7px 35px 5px 20px; text-decoration:none; color:#FFFFFF; font-weight:bold; margin-top:1px;}
a.home:hover { float:left; padding:7px 35px 5px 20px; background-color:#4898DC;}