/* CSS Document */

#halaman{
	height: 21px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
#halaman div{
	float: left;
	padding-left:2px;
	padding-right:2px;
}
#page{
	padding-top:0px;
	font-size: 11px;
	text-decoration: none;
}
.hal{
	text-decoration: none;
	color: #000000;
	padding-top:3px;
	padding-left:4px;
	padding-bottom:1px;
	padding-right:4px;
	background-color: #d9efff;
	vertical-align: middle;
	
}
.halpilih{
	text-decoration: none;
	color: #0033CC;
	padding-top:3px;
	padding-left:4px;
	padding-bottom:1px;
	padding-right:4px;
	background-color: #d9efff;
	vertical-align: middle;
	font-weight: bold;
}
#page a:hover{
	text-decoration: none;
	color: #005c9d;
}
#next{
	background-image: url(../../images/next.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 54px;
	text-indent: 9px;
	padding-top:7px;
	text-align:left;
	background-position: center center;
}
#next a,a:link,a:visited{
	text-decoration: none;
	color: #000000;
}
#next a:hover{
	text-decoration: none;
	color: #005c9d;
}
#prev{
	background-image: url(../../images/prev.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 54px;
	text-indent: 23px;
	padding-top:7px;
	text-align:left;
	background-position: center center;
}
#prev a,a:link,a:visited{
	text-decoration: none;
	color: #000000;
}
#prev a:hover{
	text-decoration: none;
	color: #005c9d;
}
