* { margin:auto; outline:none;}
.sortable {width:100%; float:right; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none;}
.sortable th {text-align:center; color:#000000; border:1px solid #fff; border-right:none; border-bottom-width: 2px; font-weight:bold;}
.sortable th h3 {font-size:11px; padding:5px 5px 5px 5px;}
.sortable td {padding:3px 3px 3px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1; font-size:11px;}
.sortable .head h3 {background:url(../images/sort.gif) 4px center no-repeat; cursor:pointer; padding-left:5px}
.sortable .desc, .sortable .asc {background:url( url(../images/header-selected-bg.gif))}
.sortable .desc h3 {background:url(../images/desc.gif) 4px center no-repeat; cursor:pointer; padding-left:5px}
.sortable .asc h3 {background:url(../images/asc.gif) 4px  center no-repeat; font-weight:bold; cursor:pointer; padding-left:5px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#000000}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}
.background:hover { background-color:#00FFFF;} 

#block {background-color:#DADADA;}
#controls {width:700px; margin:0 auto; height:20px;}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:280px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:120px; text-align:right; margin-top:2px}